# Ignore Yarn related files and directories
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.yarn/cache
.pnp.*

# Ignore Node.js modules
node_modules

# Ignore build output
/dist/

# Ignore data directories
/data/

# Ignore environment files
.env

# Ignore Yarn error log
yarn-error.log

# Ignore Visual Studio Code settings
*.vscode
